<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="uk.co.cv-library.plugins.DropboxChooser"
    version="2.0.0">

    <name>Dropbox Chooser</name>
    <author>CV-Library</author>
    <description>
        This plugin allows your application to use the Dropbox Chooser
    </description>
    <keywords>Dropbox, Dropbox Chooser, Dropbox Upload</keywords>
    <license>MIT</license>

    <js-module src="www/DropboxChooser.js" name="dropbox-chooser">
        <clobbers target="plugins.DropboxChooser" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">
        <feature name="DropboxChooser">
            <param name="ios-package" value="DropboxChooser" />
        </feature>

        <config-file target="config.xml" parent="/*">
            <feature name="DropboxChooser">
                <param name="ios-package" value="DropboxChooser"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Shell</string>
                    <key>CFBundleURLName</key>
                    <string>$APP_ID</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>db-$DROPBOX_APP_KEY</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <!-- DropboxChooser plugin files -->
        <header-file src="src/ios/DropboxChooser.h" />
        <header-file src="src/ios/AppDelegate+DropboxChooser.h" />

        <source-file src="src/ios/DropboxChooser.m" />
        <source-file src="src/ios/AppDelegate+DropboxChooser.m" />

        <!-- Dropbox SDK files -->
        <header-file src="src/ios/DBCConstants.h" />
        <header-file src="src/ios/DBChooser.h" />
        <header-file src="src/ios/DBChooser+Private.h" />
        <header-file src="src/ios/DBChooserResult.h" />
        <header-file src="src/ios/DBChooserResult+Private.h" />
        <header-file src="src/ios/DBCLocalization.h" />
        <header-file src="src/ios/ui/DBAppearance.h" />
        <header-file src="src/ios/ui/DBCBlueButton.h" />
        <header-file src="src/ios/ui/DBChooserAppearance.h" />
        <header-file src="src/ios/ui/DBChooserNoDropboxViewController.h" />
        <header-file src="src/ios/ui/DBCStyledErrorView.h" />
        <header-file src="src/ios/ui/DBCStyledNavigationController.h" />

        <source-file src="src/ios/DBCConstants.m" />
        <source-file src="src/ios/DBChooser.m" />
        <source-file src="src/ios/DBChooserResult.m" />
        <source-file src="src/ios/DBCLocalization.m" />
        <source-file src="src/ios/ui/DBAppearance.m" />
        <source-file src="src/ios/ui/DBCBlueButton.m" />
        <source-file src="src/ios/ui/DBChooserAppearance.m" />
        <source-file src="src/ios/ui/DBChooserNoDropboxViewController.m" />
        <source-file src="src/ios/ui/DBCStyledErrorView.m" />
        <source-file src="src/ios/ui/DBCStyledNavigationController.m" />

        <resource-file src="src/ios/DBChooser.bundle" />
    </platform>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="DropboxChooser">
                <param name="android-package" value="uk.co.cv_library.plugins.DropboxChooser" />
            </feature>
        </config-file>
        <source-file src="src/android/DropboxChooser.java" target-dir="src/uk/co/cv_library/plugins/" />
        <source-file src="src/android/dropboxchoosersdk.jar" target-dir="libs" />
    </platform>
    <info>
        This plugin will allow you to integrate the Dropbox Chooser into your iOS or Android app,
        allowing users to select a file from their Dropbox (if they have the Dropbox app installed),
        and returning that file's information (URL, filename and logo) to the app.
    </info>
</plugin>
